# Cognifyz Data Science Internship - Level 2 Tasks

In [3]:
# Step 1: Import Libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load the dataset
df = pd.read_csv("Dataset .csv")
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

![task discription](task%201.png)

In [4]:
# ✅ Task 1: Table Booking and Online Delivery Analysis

# Convert text to lowercase for consistency
df["Has Table booking"] = df["Has Table booking"].str.lower()
df["Has Online delivery"] = df["Has Online delivery"].str.lower()

# 1. Percentages
print("Table Booking %:\n", df["Has Table booking"].value_counts(normalize=True) * 100)
print("\nOnline Delivery %:\n", df["Has Online delivery"].value_counts(normalize=True) * 100)

Table Booking %:
 Has Table booking
no     87.875615
yes    12.124385
Name: proportion, dtype: float64

Online Delivery %:
 Has Online delivery
no     74.337766
yes    25.662234
Name: proportion, dtype: float64

In [5]:
# 2. Average ratings
print("\nAverage Rating by Table Booking:")
print(df.groupby("Has Table booking")["Aggregate rating"].mean())

Average Rating by Table Booking:
Has Table booking
no     2.559359
yes    3.441969
Name: Aggregate rating, dtype: float64

In [6]:
# 3. Online Delivery by Price Range
print("\nOnline Delivery across Price Ranges:")
print(df.groupby(["Price range", "Has Online delivery"]).size().unstack(fill_value=0))

Online Delivery across Price Ranges:
Has Online delivery    no   yes
Price range
1                    3743   701
2                    1827  1286
3                     997   411
4                     533    53

![task discription](task%202.png)

In [7]:
# Task 2: Price Range Analysis

# 1. Most common price range
print("Most Common Price Range:", df["Price range"].mode()[0])

Most Common Price Range: 1

In [8]:
# 2. Average rating per price range
print("\nAverage Rating per Price Range:")
print(df.groupby("Price range")["Aggregate rating"].mean())

Average Rating per Price Range:
Price range
1    1.999887
2    2.941054
3    3.683381
4    3.817918
Name: Aggregate rating, dtype: float64

In [9]:
# 3. Highest average rating color
top_rating = df.groupby("Price range")[["Aggregate rating"]].mean().sort_values(by="Aggregate rating", ascending=False)
print("\nPrice Range with Highest Average Rating:\n", top_rating)

Price Range with Highest Average Rating:
              Aggregate rating
Price range
4                    3.817918
3                    3.683381
2                    2.941054
1                    1.999887

![task description](task%203.png)

In [11]:
# Task 3: Feature Engineering

# 1. Length of Name and Address
df["Restaurant Name Length"] = df["Restaurant Name"].apply(len)
df["Address Length"] = df["Address"].apply(len)

In [12]:
# 2. Binary flags
df["Has Table Booking (Binary)"] = df["Has Table booking"].map({"yes": 1, "no": 0})
df["Has Online Delivery (Binary)"] = df["Has Online delivery"].map({"yes": 1, "no": 0})

# Show new features
df[["Restaurant Name", "Restaurant Name Length", "Address Length",
    "Has Table Booking (Binary)", "Has Online Delivery (Binary)"]].head()

,Restaurant Name,Restaurant Name Length,Address Length,Has Table Booking (Binary),Has Online Delivery (Binary)
0,Le Petit Souffle,16,71,1,0
1,Izakaya Kikufuji,16,67,1,0
2,Heat - Edsa Shangri-La,22,56,1,0
3,Ooma,4,70,0,0
4,Sambo Kojin,11,64,1,0